<div {{bind-attr id=divId}} class="carousel slide" data-wrap=true">
    <h4>
        {{title}}
        <small class="indicators">
            <a href="#" {{action 'previous'}}><i class="fa fa-chevron-left"></i></a>
            {{#each listing in listings}}
                <a href="#" {{action 'navigate' _view.contentIndex}}><i class="indicator-item fa fa-circle-thin"></i></a>
            {{/each}}
            <a href="#" {{action 'next'}}><i class="fa fa-chevron-right"></i></a>
        </small>
    </h4>

    <!-- Wrapper for slides -->
    <div class="carousel-inner">
        {{#each listing in listings}}
            <div class="item">
                {{listing-card listing=listing}}
            </div>
        {{/each}}
    </div>

</div>